@tailwind base;
@tailwind components;
@tailwind utilities;

.iconfont {
  /* width: 1em;
  height: 1em;
  vertical-align: -0.15em; */
  fill: currentColor;
  overflow: hidden;
}

:root {
  --blog-nav-height: 48px;
  --blog-bottom-height: 53px;
  --blog-nav-zindex: 10;
  --blog-drawer-zindex: 11;
  --blog-global-zindex: 12;
}
