.nav-bar {
  height: var(--header-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 5px 0px rgb(18 18 18 / 10%);
}

.brand {
  font-size: xx-large;
  font-weight: bolder;
}
