.my-link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.25s ease;
}

.my-link::before {
  pointer-events: none;
  content: '→';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transform: translateX(-1.5em);
  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.my-link:hover {
  text-decoration: underline;
  transform: translateX(1em);
}

.my-link:hover::before {
  transform: translateX(-1em);
  opacity: 1;
}
