.nav-links {
  display: flex;
  column-gap: 10px;
}

.nav-link {
  padding: 10px;
  font-size: 1.5rem;
  color: black;
  border-radius: 5px;
  transition-property: background-color color;
  transition-duration: 0.2s;
}

.nav-link-home-active,
.nav-link-home:hover {
  background-color: rgba(0, 128, 128, 0.2);
  color: teal;
}

.nav-link-articles-active,
.nav-link-articles:hover {
  background-color: rgba(255, 165, 0, 0.2);
  color: orange;
}

.nav-link-comments-active,
.nav-link-comments:hover {
  background-color: rgba(255, 192, 203, 0.2);
  color: pink;
}

.iconfont {
  font-size: 1.5rem;
  margin-right: 5px;
}

.icon-home {
  color: teal;
}

.icon-articles {
  color: orange;
}

.icon-comments {
  color: pink;
}
